<script src="pikaday.js"></script>
<div class="ui raised segment">
  <h2 class="ui header">Demo Form: Sku</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        (keydown.enter)="keyDown($event)"
        class="ui form">

    <div class="field" [class.error]="!myForm.controls['sku'].valid && myForm.controls['sku'].touched">
      <div class="form-group">
        <label for="skuInput">SKU</label>
        <input type="text"
               id="skuInput"
               placeholder="SKU"
               [formControl]="myForm.controls['sku']">

        <div *ngIf="!myForm.controls['sku'].valid"
          class="ui error message">SKU is invalid</div>

        <div *ngIf="myForm.controls['sku'].hasError('required')"
          class="ui error message">SKU is required</div>

        <div *ngIf="myForm.controls['sku'].hasError('invalidSku')"
          class="ui error message">SKU must begin with <span>123</span></div>
      </div>

      <div class="form-group">
        <label for="skuInput">test_field_1</label>
          <input type="text"
                 id="skuInput"
                 placeholder="SKU"
                 [formControl]="myForm.controls['test_field_1']">

          <div *ngIf="!myForm.controls['test_field_1'].valid"
            class="ui error message">test_field_1 is invalid</div>

          <div *ngIf="myForm.controls['test_field_1'].hasError('required')"
            class="ui error message">test_field_1 is required</div>

      </div>

      <div class="form-group">
        <label for="test-datetime">test_datetime_validate_start</label>
        <select id="test_datetime_validate_start"
          [formControl]="myForm.controls['test_datetime_validate_start']">
          <option *ngFor="let dateString of datetime" [value]="dateString">{{dateString}}</option>
        </select>
        <span>〜</span>
        <select id="test_datetime_validate_end"
          [formControl]="myForm.controls['test_datetime_validate_end']">
          <option *ngFor="let dateString of datetime" [value]="dateString">{{dateString}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>pikaday test</label>
        <input type="text"
          id="test_datetime_picker"
          [formControl]="myForm.controls['test_datetime_picker']">

        <p *ngIf="myForm.controls['test_datetime_picker'].hasError('required')" class="ui error message">test_datetime_picker is required</p>
      </div>

      <!--addresses-->
      <div class="addresses">
        <div *ngFor="let testDatetime of myForm.controls['test_datetime_group'].value; let i=index" class="panel panel-default">
          <div class="panel-heading">
            <span>Address {{i + 1}}</span>
            <button type="button" *ngIf="myForm.controls['test_datetime_group'].value.length > 1" (click)="removeDatetimeGroup(i)"></button>
          </div>
          <div class="form-group">
            <label>dynamic form test start</label>
            <input type="text"
              id="test_datetime_group_start_{{i}}"
              [formControl]="myForm.controls['test_datetime_group'].controls[i].controls['start']">
          </div>
          <div class="form-group">
            <label>dynamic form test end</label>
            <input type="text"
              id="test_datetime_group_end_{{i}}"
              [formControl]="myForm.controls['test_datetime_group'].controls[i].controls['end']">
          </div>
        </div>
      </div>

      <div class="margin-20">
        <a (click)="addDatetimeGroup()" style="cursor: default">
          Add another address +
        </a>
      </div>
    </div>

    <div *ngIf="!myForm.valid"
      class="ui error message">Form is invalid</div>

    <button type="submit" class="ui button">Submit</button>
    <div style="margin-top:20px;padding: 10px; background: #ccc;">
      <div>myForm details:-</div>
      <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
      <pre>form value: <br>{{myForm.value | json}}</pre>
    </div>
  </form>
</div>
